<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Summers Personal API</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- VENDOR FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Istok+Web|News+Cycle" rel="stylesheet">

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>

    <!-- VENDOR SCRIPTS -->
    <script src="/vendor/angular/angular.min.js"></script>
    <script src="/vendor/angular-route/angular-route.min.js"></script>
    
  </head>

  <body>

  <div class="container">

    <div class="col-md-12 col-md">
      <h1 class="text-left">James N. Summers</h1>
      <br><br><br><br><h4><a href="/api">API Docs</a></h4>
      <h3>Some of My Favorite Films:</h3>
      <div id='filmTarget'>
        <!-- handlebars template -->
        <script id="films-template" type="text/x-handlebars-template">
          {{#each films}}
          <hr>
          <h4>
            <b id="filmTitle">{{title}}</b>
            <br>
            <b>Directed by {{director.name}}</b>
            <br>
            <button type="button" name="button" class="deleteBtn btn btn-danger" data-id={{_id}}>Remove Film</button>
          </h4>
          {{/each}}
          <h4>
        </script>
      </div>
      <h3>Add a New Film</h3>
      <form class="form-inline" id="newFilmForm">
        <div class="form-group">
          <label for="title"></label>
          <input type="text" class="form-control" name="title" placeholder="Title">
        </div>
        <div class="form-group">
          <label for="title"></label>
          <input type="text" class="form-control" name="director" placeholder="Director's Name">
        </div>
        <button type="submit" class="btn btn-danger">Add</button>
      </form><br>
    </div>

  </div>

</body>
</html>
