body {
  background-color: #FFAD95
}

.container {
  color: #FF7F59;
  font-family: 'Istok Web', sans-serif;
  background-color: #FFDED0;
}

h1 {
  margin-top: 10px;
  padding-top: 0;
  text-align: center;
}

h2 {
  padding-left: 6px;
}

.col-md-3{
  border: 1px dashed #8E959E;
  border-radius: 20px;
  margin-bottom: 5px;
}

.profilePic {
  border: white double 9px;
  border-radius: 80px;
  margin-top: 4px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px dashed #8E959E;
    margin: 1em 0;
    margin-right: 69%;
    padding: 0;
    opacity: .8;
}

.deleteBtn {
  margin-top: 10px;
  font-family: 'News Cycle', sans-serif;
}

.btn {
  margin-left: 4px;
  font-family: 'News Cycle', sans-serif;
}
